UC Irvine's Adult Data Set Notebook
============================

This Jupyter notebook contains the code used during OUAIxHacklahoma worksop for Fall 2021. Credits given to University of California, Irvine for collecting and organizing the provided ["Adult Data Set"](https://archive.ics.uci.edu/ml/datasets/Adult) dataset.

Objectives
--------------

This jupyter notebook implements a solution to best categorize whether an adult will make _more than_ or _less than_ \$50,000 a year. The dataset uses different attributes to help best predict the goal. The label attribute in this dataset is __income__

In [1]:
import numpy as np
import pandas as pd

Data Obtention
============

The UCI's Adult dataset is provided in the datasets folder. We use Pandas's read_csv function. More formats are supported; read more in pandas [documentation](https://pandas.pydata.org/docs/reference/io.html).

In [6]:
raw_adult = pd.read_csv("datasets/adult.csv")

In [8]:
raw_adult.head()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,?,186061,Some-college,10,Widowed,?,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K